.buy-button {
  @include reset-default-button-style;
  @include buy-button;
  padding: 18px;

  &--slider {
    width: 238px;
  }
}

@media (max-width: 750px) {
  .buy-button {
    &--slider {
      width: 100%;
    }
  }
}
