.buy-button {
  @include reset-default-button-style;
  @include buy-button;
  padding: 18px;

  &--slider {
    width: 238px;
  }

  &:hover {
    background-color: darken($black, 5%);
  }

  &:focus {
    background-color: lighten($black, 5%);
  }
}

@media (max-width: 750px) {
  .buy-button {
    &--slider {
      width: 100%;
    }
  }
}
