.categories {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 25px;
  padding-left: 10px;

  &__item {
    margin-right: 48px;
  }

  &__item-link {
    text-decoration: none;
    font-family: $open-sans;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 25px;
    text-align: center;

    color: rgba(0, 0, 0, 0.4);

    &--active {
      text-decoration-line: underline;
      color: #000000;
    }
  }
}

@media (max-width: 750px) {
  .categories {
    justify-content: space-between;

    &__item:last-child {
      margin-right: 0;
    }
  }

}
