.comments {
  display: flex;
  flex-direction: column;
  width: 57.3%;
  padding: 0 20px;
  margin: 0 auto;
  position: relative;
  margin-bottom: 169px;

  &__swiper-button-prev {

    &::after {
      content: '';
      width: 14px;
      height: 9.3px;
      background-image: url(../../img/left-arrow.svg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position-x: center;
    }

    width: 36px;
    height: 36px;
    background-color: $white;
    border-radius: 50%;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);

    &:hover {
      background-color: $strawberry;
    }

    &:active {
      background-color: darken($strawberry, 5%);
    }
  }

  &__swiper-button-next {
    &::after {
      content: '';
      width: 14px;
      height: 9.3px;
      background-image: url(../../img/right-arrow.svg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position-x: center;
    }

    width: 36px;
    height: 36px;
    background-color: $white;
    border-radius: 50%;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);

    &:hover {
      background-color: $strawberry;
    }

    &:active {
      background-color: darken($strawberry, 5%);
    }
  }

  &__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    &--hidden {
      display: none;
    }
  }

  &__card-avatar {
    margin-bottom: 23px;
  }

  &__card-name {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    color: $black;
    margin-bottom: 2px;
  }

  &__card-occupation {
    margin-bottom: 5px;
  }

  &__card-message {
    font-family: $open-sans;
    font-style: italic;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    color: #444348;
    padding: 0 50px;
    margin-bottom: 7px;
  }

  &__pagination {
    width: 53px;

    .swiper-pagination-bullet {
      background-color: transparent;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      border: solid 1px $grey;
      padding: 0;
      margin: 0;
      opacity: 1;
    }

    .swiper-pagination-bullet-active {
      background-color: $grey;
    }
  }

  &__swiper-container {
    width: 100%;
  }

  &__swiper-wrapper {
    padding-bottom: 22px;
  }

  .swiper-pagination-bullets {
    bottom: -2px;
  }
}

@media (max-width: 1225px) {
  .comments {
    width: 75%;
  }
}


@media (max-width: 750px) {
  .comments {
    display: none;
  }
}
