.main-header {
  display: flex;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;

  &::after {
    content: "";
    position: absolute;
    width: 36.4%;
    height: 100%;
    right: 0;
    top: 0px;
    background: $strawberry;
    z-index: -1;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 90px;
    position: relative;
  }

  &__logo-wrapper {
    display: flex;
    padding-right: 20px;
    order: 0;
  }
}

@media (max-width: 750px) {
  .main-header {
    background-color: $white;

    &__container {
      padding-top: 28px;
      padding-bottom: 17px;
    }

    &::after {
      content: none;
    }
  }
}
