.main-footer {
  display: flex;
  flex-direction: column;

  &__container {
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    // align-items: center;
    margin-bottom: 30px;
    border-bottom: 1.5px solid rgba(0, 0, 0, 0.1);

    img {
      padding-left: 15px;
    }
  }

  &__logo-wrapper {
    align-items: flex-start;
  }

  &__copyright {
    margin-top: -30px;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    font-family: $avenir-next;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 15px;
    text-align: center;
    color: #000000;

    opacity: 0.2;

    a {
      text-decoration: none;
    }
  }
}

@media (max-width: 750px) {
  .main-footer {

    &__logo-wrapper {
      order: 0;
    }

    &__copyright {
      justify-content: center;
      ;
    }
  }
}
