.main-nav {
  display: flex;
  margin-right: 37%;

  &__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
    padding-left: 0;
    margin: 0;
    width: 380px;

    &--hidden {
      display: none;
    }

  }

  &__list-item-link {
    text-decoration: none;
    @include header-nav-text;
  }

  &__toggle-menu-button {
    display: none;
  }
}

@media (max-width: 830px) {
  .main-nav {
    margin-right: 30%;
  }
}

@media (max-width: 750px) {
  .main-nav {
    order: 1;
    margin: 0;

    &__toggle-menu-button {
      display: block;
      width: 25px;
      @include reset-default-button-style;
      padding: 0;
      margin-left: 40px;

      div {
        height: 2px;
        background: #000;
        margin-bottom: 6px;
        width: 100%;
      }
    }

    // &__list {
    //   display: none;
    // }
  }

}
