.main-header {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 36.4%;
    height: 100%;
    right: 0;
    top: 0px;
    background: $strawberry;
    z-index: -1;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 90px;
    position: relative;
  }

  // &__container::after {
  //   content: "";
  //   position: absolute;
  //   width: 100%;
  //   height: 100%;
  //   left: 66%;
  //   top: 0px;
  //   background: $strawberry;
  //   z-index: -1;

  // }
}
