.new-items {
  margin-bottom: 102px;
  display: grid;
  grid-template-areas:
    "title twilight chocolate chocolate"
    "cloud cream  chocolate chocolate";
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 30px;
  justify-items: stretch;
  grid-row-gap: 36px;
  width: 100%;

  &__title-wrapper {
    align-self: center;
    margin-top: 50px;
    grid-area: title;
  }

  &__title {
    padding-bottom: 40px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 90px;
      height: 4px;
      background-color: $black;
      top: 50px;
    }
  }

  &__card {
    display: grid;
    background-color: $white;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.03);

    &:hover {
      background-color: $strawberry;
    }

    &:active {
      background-color: darken($strawberry, 5%);
    }

    &--twilight {
      grid-area: twilight;

      img {
        padding-top: 20px;
      }
    }

    &--cloud {
      grid-area: cloud;
    }

    &--cream {
      grid-area: cream;
    }

    &--chocolate {
      grid-area: chocolate;

      .new-items__img-wrapper {
        height: 516px;
      }
    }
  }

  &__card-link {
    text-decoration: none;
  }

  &__img-wrapper {
    position: relative;
    overflow: hidden;
    height: 201px;
    width: 100%;
    text-align: center;

    img {
      height: 100%;
      width: auto;
    }
  }

  &__text-container {
    text-align: center;
    margin-bottom: 23px;
  }

  &__product-name {}

  &__card-price {}
}

@media (max-width: 1020px) {

  .new-items {
    grid-template-areas:
      "title title"
      "chocolate twilight"
      "cloud cream";
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 30px;
    max-width: 93%;

    &__card {
      &--chocolate {
        .new-items__img-wrapper {
          height: 199px;
        }
      }
    }
  }
}

@media (max-width: 750px) {
  .new-items {
    display: block;

    &__card {
      margin-bottom: 30px;
    }
  }
}
