.new-items {
  margin-bottom: 68px;
  display: grid;
  grid-template-areas:
    "title twilight chocolate chocolate"
    "cloud cream  chocolate chocolate";
  grid-column-gap: 30px;
  justify-content: space-between;
  justify-items: stretch;

  &__title-wrapper {}

  &__title {
    padding-bottom: 40px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 90px;
      height: 4px;
      background-color: $black;
      top: 50px;
    }
  }

  &__card {

    &--twilight {
      grid-area: twilight;

      img {
        padding-top: 20px;
      }
    }

    &--cloud {
      grid-area: cloud;
    }

    &--cream {
      grid-area: cream;
    }

    &--chocolate {
      grid-area: chocolate;

      .new-items__img-wrapper {
        height: 516px;
      }
    }
  }

  &__card-link {
    text-decoration: none;
  }

  &__img-wrapper {
    position: relative;
    overflow: hidden;
    height: 201px;
    width: 100%;

    img {
      width: 100%;
      height: auto;
    }
  }

  &__product-name {}

  &__card-price {}
}
