.page-main {
  display: flex;
  flex-direction: column;
  overflow: hidden;

  &::after {
    content: "";
    display: flex;
    width: 36.4%;
    height: 634px;
    z-index: -1;
    position: absolute;
    right: 0;
    background-color: $strawberry;
  }
}

@media (max-width: 750px) {
  .page-main::after {
    width: 50%;
    height: 327px;
  }
}
