.sale-card {
  display: flex;
  flex-direction: column;
  background-color: $white;
  min-width: 209px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.05);
  position: relative;
  margin-bottom: 20px;
  align-self: flex-start;

  &::before {
    visibility: hidden;
    content: "";
    width: 209px;
    height: 5px;
    background-color: $black;
    position: absolute;
  }

  &__link {
    text-decoration: none;
  }

  &__info {
    display: flex;
    flex-direction: column;
    padding-left: 26px;
    padding-top: 27px;
  }

  &__prices {
    display: flex;
    align-items: center;
  }

  &__new-price {
    margin-right: 10px;
  }

  &__old-price {
    font-family: $open-sans;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    text-decoration-line: line-through;

    color: #979798;
  }

  &__product-name {
    font-family: $open-sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
    margin-bottom: 10px;
  }

  &__image-wrapper {
    display: flex;
    justify-content: flex-end;
    height: 255px;
    overflow: hidden;
  }

  &__image-wrapper img {
    max-width: 100%;
  }

  &__buy-button {
    display: none;
    @include reset-default-button-style;
    @include buy-button;
    padding: 18px 66px;

    &:hover {
      background-color: darken($black, 5%);
    }

    &:focus {
      background-color: lighten($black, 5%);
    }
  }
}

.sale-card:hover::before {
  visibility: visible;
}

.sale-card:hover .sale-card__buy-button {
  display: block;
}


@media (max-width: 750px) {
  .sale-card {
    width: 474px;
  }
}
