.sale-chairs {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  padding-left: 2px;

  &__item {
    display: flex;
    flex-direction: column;
    margin-right: 31px;
    // flex-grow: 1;
    // flex-basis: 14%;
    box-sizing: border-box;

    &:last-child {
      margin-right: 0;
    }
  }

  .swiper-container {
    overflow: hidden;
    width: 100%;
  }

  .swiper-wrapper {
    display: flex;
    flex-wrap: wrap;
  }
}

@media (max-width: 750px) {

  .sale-chairs {
    max-width: 400px;
    margin: 0 auto;
    padding-bottom: 60px;

    &__item {
      width: 100%;
    }

    .swiper-wrapper {
      display: flex;
      flex-wrap: nowrap;

    }

    &__pagination {
      top: 94% !important;
      height: 2px !important;

      .swiper-pagination-progressbar-fill {
        background-color: $black;
      }
    }

  }
}

@media (max-width: 430px) {
  .sale-chairs {
    max-width: 288px;

    &__item {
      width: 288px;
    }
  }
}
