.sale-chairs {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-left: 2px;

  &__item {
    display: flex;
    flex-direction: column;
    margin-right: 31px;
    flex-grow: 1;
    flex-basis: 14%;
    box-sizing: border-box;

    &:last-child {
      margin-right: 0;
    }
  }
}
