.slider {
  display: flex;
  position: relative;
  margin-bottom: 115px;
  width: 100%;

  &__container {
    width: 100%;
    height: 638px;
    overflow-y: hidden;
    position: relative;
  }

  &__pagination {
    position: absolute;
    z-index: 100;
  }

  &__wrapper {
    // display: flex;
    // height: 100%;
    width: 100%;
    // flex-direction: column;
  }

  &__card {
    display: flex;
    flex-shrink: 0;
    // max-height: 638px;
    // justify-content: space-between;

    &--hidden {
      display: none;
    }
  }

  &__card-info {
    display: flex;
    flex-direction: column;
    margin-top: 114px;
    width: 590px;
  }

  &__card-title {
    @include page-title;
    max-width: 515px;
    margin-bottom: 26px;
  }

  &__prices {
    display: flex;
    margin: 0;
    margin-bottom: 35px;

    .prices__item {
      font-family: $open-sans;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 27px;
      color: $black;
      margin-right: 22px;

      &--new {
        font-family: $open-sans;
        font-size: 30px;
        font-weight: 600;
        line-height: 41px;
        margin-top: -10px;
      }
    }
  }

  &__card-img-container {
    margin-top: -10.6%;
    margin-right: -2.5%;
    // width: 49.9%;
    height: 751px;

    img {
      max-width: 100%;
      height: auto;
    }
  }

  &__toggle {
    display: flex;
    margin-top: 16.65%;
    padding-right: 20px;
    margin-left: 25px;

    &--mobile {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0;
      margin: 0;
      margin-top: 25px;
    }
  }

  &__toggle-bar {
    display: flex;
    background-color: rgba(20, 18, 21, 0.1);
    height: 2px;
    width: 100%;
    position: relative;

    &::before {
      content: "";
      width: 25%;
      height: 100%;
      background-color: $black;
    }
  }

  &__toggle-counter {
    display: none;

    &--active {
      display: flex;
      flex-wrap: nowrap;
      flex-shrink: 0;
      font-size: 15px;
      font-weight: 600;
      line-height: 1.7;
      padding-left: 15px;
    }

  }
}

h3.slider__product-name {
  margin-bottom: 21px;
}

@media (min-width: 751px) {
  .slider__toggle {
    &--desktop {
      display: flex;
    }

    &--mobile {
      display: none;
    }
  }
}

@media (max-width: 1020px) {
  .slider {

    &__card-info {
      max-width: 400px;
    }

    &__card-title {
      font-size: 35px;
      line-height: 50px;
    }
  }
}


@media (max-width: 830px) {
  .slider {

    &__card-img-container {
      margin-top: auto;
    }
  }
}

@media (max-width: 750px) {
  .slider {
    flex-direction: column;

    &__card {
      flex-direction: column;
    }

    &__card-info {
      order: 1;
      width: initial;
      margin-top: 60px;
    }

    &__card-img-container {
      order: 0;
      width: 277px;
      height: 327.1px;
      margin: 0 auto;
      margin-top: -32px;

      img {
        padding-left: 20px;
      }
    }

    &__card-title {
      font-size: 27px;
      line-height: 170%;
      letter-spacing: 0.05em;
      margin-bottom: 22px;
    }

    &__prices {
      margin-bottom: 30px;
    }

    &__toggle {

      &--desktop {
        display: none;
      }

      &--mobile {
        display: flex;
      }
    }
  }

  h3.slider__product-name {
    margin-bottom: 16px;
  }
}
