.slider {
  display: flex;
  position: relative;
  margin-bottom: 120px;


  &__wrapper {
    display: flex;
    flex-direction: column;
  }

  &__card {
    display: flex;
    // justify-content: space-between;

    &--hidden {
      display: none;
    }
  }

  &__card-info {
    display: flex;
    flex-direction: column;
    margin-top: 114px;
    width: 590px;
  }

  &__card-title {
    @include page-title;
    max-width: 515px;
    margin-bottom: 26px;
  }

  &__prices {
    display: flex;
    margin: 0;
    margin-bottom: 35px;

    .prices__item {
      font-family: $open-sans;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 27px;
      color: $black;
      margin-right: 22px;

      &--new {
        font-family: $open-sans;
        font-size: 30px;
        font-weight: 600;
        line-height: 41px;
        margin-top: -10px;
      }
    }
  }

  &__card-img-container {
    margin-top: -10.6%;
    margin-right: -2.5%;
    // width: 49.9%;
    height: 751px;

    img {
      max-width: 100%;
      height: auto;
    }
  }

  &__toggle {
    display: flex;
    // position: absolute;
    // top: 194px;
    // right: 2.5%;
    margin-top: 16.65%;
    padding-right: 20px;
    margin-left: 25px;
  }
}

h3.slider__product-name {
  margin-bottom: 21px;
}

@media (max-width: 1020px) {
  .slider {

    &__card-info {
      max-width: 400px;
    }

    &__card-title {
      font-size: 35px;
      line-height: 50px;
    }
  }
}


@media (max-width: 830px) {
  .slider {

    &__card-img-container {
      margin-top: auto;
    }
  }
}
