.slider {
  display: flex;
  width: 1118px;
  position: relative;
  margin-bottom: 120px;

  &__wrapper {
    display: flex;
    flex-direction: column;
  }

  &__card {
    display: flex;
    justify-content: space-between;

    &--hidden {
      display: none;
    }
  }

  &__card-info {
    display: flex;
    flex-direction: column;
    margin-top: 114px;
  }

  &__card-title {
    @include page-title;
    max-width: 545px;
    margin-bottom: 26px;
  }

  &__prices {
    display: flex;
    margin: 0;
    margin-bottom: 35px;

    .prices__item {
      font-family: $open-sans;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 27px;
      color: $black;
      margin-right: 22px;

      &--new {
        font-family: $open-sans;
        font-size: 30px;
        font-weight: 600;
        line-height: 41px;
        margin-top: -10px;
      }
    }
  }

  &__card-img-container {
    display: flex;
    margin-top: -117px;
    margin-right: -2%;
    width: 532px;
    height: 751px;

    img {
      height: auto;
    }
  }

  &__toggle {
    display: flex;
    position: absolute;
    top: 194px;
    right: -3.5%;
  }
}

h3.slider__product-name {
  margin-bottom: 21px;
}

// .slider::after {
//   content: "";
//   display: flex;
//   width: 36.4%;
//   height: 116.5%;
//   z-index: -1;
//   position: absolute;
//   right: 0;
//   background-color: $strawberry;
// }
