.toggle-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  list-style: none;
  align-items: flex-end;

  &__item {
    margin-bottom: 18px;
  }

  &__item-button {
    @include reset-default-button-style;
    @include toggle-number-inactive;

    &--active {
      @include toggle-number-active;
    }
  }
}
